<div #dialogContent class="ui-dynamic-dialog-body">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="form-label-div">
                <label class="form-label" for="Name">Date</label>
            </div>
            <div class="form-input-div">
                <p-calendar id="defaultValue" appendTo="body" size="30" [monthNavigator]="true" [yearNavigator]="true"
                    yearRange="2000:2030" [(ngModel)]="itenary.dateObject" [showIcon]="true" [disabled]="isEditCase">
                </p-calendar>
            </div>
        </div>

        <div class="form-group">
            <div class="form-label-div">
                <label class="form-label" for="boughtCount">Bought Count</label>
            </div>
            <div class="form-input-div">
                <input id="boughtCount" [(ngModel)]="itenary.boughtCount" type="number" size="30" pInputText required>
            </div>
        </div>

        <div class="form-group">
            <div class="form-label-div">
                <label class="form-label" for="soldCount">Sold Count</label>
            </div>
            <div class="form-input-div">
                <input id="soldCount" [(ngModel)]="itenary.soldCount" type="number" size="30" pInputText required>
            </div>
        </div>
    </div>
</div>

<div class="ui-dynamic-dialog-footer">
    <div class="text-right">
        <button pButton [disabled]="disableSave()" label="Save" class="m-r-12" (click)="saveItenary()"></button>
        <button pButton label="Cancel" class="ui-button-tertiary" (click)="closeDialogBox()"></button>
    </div>
</div>