.bold-text {
  font-weight: bold;
}
.pointer {
  cursor: pointer;
}
.left {
  float: left;
  width: 48%;
  margin: 5px auto 5px 0;
  display: inline;
}
.right {
  float: left;
  width: 49%;
  margin: 5px 0 5px auto;
  display: inline;
}
